body {
background-color: grey;
background-image: url(../img/wood8.jpg);
background-size: cover;
background-repeat: repeat;
}

/* first order submit button */
button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-weight: lighter;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-weight: lighter;
  text-align: center;
  }

h3 {
  font-weight: lighter;
}

img {
  border-radius: 50px;
  opacity: .9;
}

/* container for header and header image */
#titlePic {
  position: relative;
  text-align: center;
  color: black
}

.center {
  position: absolute;
  bottom: 2px;
  color: black;
  left: 80px;
  text-align: center;
}

#pizzaForm {
  z-index: -1;
}

#totalPriceMessage {
  display: none;
  z-index: 1;
  background: #4f040d;
  color: lightgray;
}

#secondImage {
  display: none;
  border-radius: 50px;
  opacity: .9;
  margin-left: 5%;
}

.card {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  background-color: #4f040d;
  color: lightgray;
  opacity: .8;
}

#placeOrder {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

#back-button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
